@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Azeret Mono", monospace;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}



.btn{
    padding: 21px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #0D1321;
    color: rgba(255, 255, 255, 1);
    border: none;
}
.Banner_text2{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #0D1321;;
}
.Banner_content{
    max-width: 990px;
    margin: 0 auto;
    text-align: center;
    font-size:28px;
      
}
.background {
    background-image:url("assets/Hero-bg.png");
    color: lightgray 50%;
    background-repeat: no-repeat;
    height: 652px;
    align-items: center;
    
  }
  .image{
    
    display: flex;
    justify-content: center;
    padding: 25px 0;
}
  
nav >button{
    border-radius: 8px;
    border-color: #0D1321;
    padding: 17px 24px;
    text-align: center;
    font-weight: 500;
    /*color: #0D1321;*/
    gap: 10px;
    background-color: white;
}
