@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Azeret Mono", monospace;
}

.hero {
    background-image: url('assets/Hero-bg.png');
    padding: 100px 0;
    text-align: center;
    height: 200px;
    width: 1400px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.download-resume {
    background-color: white;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid black;
}

.contact-button {
    background-color: rgb(13, 19, 33);
    color: white;
    width: 145px;
    font-size: 12px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px 24px;
    margin: 32px auto; /* Center the button horizontally */
    border-radius: 8px;
    text-decoration: none; /* Ensure the text has no underline */
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
    color: rgb(13, 19, 33);
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    font-weight: 350;
    line-height: 37px;
    text-align: center; /* Center the text */
}

.hero-content p {
    color: rgb(13, 19, 33);
    max-width: 800px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}

.hero-image {
    position: absolute;
    top: -100px; /* Adjust this value to move the image higher or lower */
    left: 50%;
    transform: translateX(-50%);
    max-width: 100px;
}
